.box {
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  background: silver;
  width: 200px;
  height: 200px;
}
h2 {
  font-size: 40px;
}
h2 span {
  position: relative;
}
h2 span::before {
  content: "";
  border-bottom: 5px solid red;
  left: -5px;
  right: -5px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
