doctype html 
html 
  head(lang="ru")
    title Титул
  body 
    #wrapper
      header
        h1 Заголовок
        h2 Подзаголовок
      main 
       a(href="http://specialist.ru") Сайт Специалист
      footer
       include 2.pug
