//- index.jade
doctype html
html
  include includes/head.jade
  body
    include includes/menu.jade
    h1.new My Site
    p Welcome to my super lame site
    img.logo(src="1.jpg", alt="Пояснение", title="Подсказка")
    include includes/footer.jade
    p. 
      это длинный фрагмент текста, который многострочный
      и который разделен на отдельные строки кнопкой
      энтер
    include includes/html1.html
    

