!!! 5
%html
 %head
  %title Заголовок веб-страницы
  %meta{:charset => "utf-8" }
 %body
  %div#wrapper
   %header Шапка сайта
   %section
    %h1 Заголовок страницы
    %div.info 
     %p Основной текст на странице Основной текст на странице Основной текст на странице Основной текст на странице Основной текст на странице Основной текст на странице 
     %figure
      %img{ :src=>"1.jpg",:title=>"title text", :alt => "alt text"}  
      %figcaption Остальной текст на странице
   %footer Подвал сайта